@font-face {
    font-family: 'Open_Sans_Regular';
    src: url("../fonts/Open_Sans/static/OpenSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open_Sans_Bold';
    src: url("../fonts/Open_Sans/static/OpenSans-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open_Sans_Italic';
    src: url('../fonts/Open_Sans/static/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bebas_Neue';
    src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    /*Colour palette*/
    --primary-color: #4f6673;
    --secondary-color: #b56320;
    --tertiary-color: #fffaf1;

    /*Fonts*/
    --primary-font: 'Bebas_Neue', arial, serif;
    --secondary-regular-font: 'Open_Sans_Regular', arial, sans-serif;
    --secondary-bold-font: 'Open_Sans_Bold', arial, sans-serif;
    --secondary-italic-font: 'Open_Sans_Italic', arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: var(--primary-font);
    font-size: larger;
    color: var(--secondary-color);
}

.body-text {
    font-family: var(--secondary-regular-font);
    font-weight: normal;
    color: var(--secondary-color);
}

ul {
    list-style: none;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

#header {
    background-color: rgba(79, 102, 115, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
}

#logo {
    font-size: 25px;
    letter-spacing: -1,5px;
    font-weight: 600;
}

#nav-bar {

}

#nav-list {
    display: flex;
    column-gap: 40px;
}

.nav-item {

}

.nav-link {
    color: var(--tertiary-color);
    font-weight: 500;
    font-size: 15px;
    transition: color 0.4s;
}

.nav-link:hover {
    color: var(--secondary-color);
}

#main {
    margin-top: 80px;
}

@media (max-width: 850px) {
    .header-content {
        flex-direction: column;
        padding: 15px 0;
        row-gap: 8px;
    }

    #nav-list {
        column-gap: 20px;
    }
}